li{
    border: 1px solid white;
    list-style: none;
    padding-left: 10px;
    height:40px;
    line-height: 40px;
    font-size: 27px;
    width: 40%;
    color: rgb(8, 153, 144);
}
li a {
    list-style: none;
    color: #74e5fe;
    text-decoration: none;
    font-size: 25px;
    align-items: center;
} 
body {
    background: black;
}